

#pink {
	
	margin-bottom: 
	margin-left: 
	margin-right:
	width: 100%;
	height: 85px;
	padding-left: 
	padding-right: 
	
}

#blue {
	
	margin-bottom: 
	margin-left: 
	margin-right:
	width: 100%;
	height: 85px;
	padding-left: 
	padding-right: 
	
}


#yellow {
	
	margin-bottom: 
	margin-left: 
	margin-right:
	width: 100%;
	height: 85px;
	padding-left: 
	padding-right: 
	
}

#clear {
	
	margin-bottom: 
	margin-left: 
	margin-right:
	width: 100%;
	height: 85px;
	padding-left: 
	padding-right: 
	
}

